
.background {
  background-color: #19203d;
  width:max-content;
  
}
 
.bulb-image {
  width: 150px;
 
}
 
.cat-image {
  width: 250px;
 
}
 

.switch-board {
  width: 294px;
  height: 139px;
  background-color: #609bdb;
  border-radius: 12px;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 16px;
}
 
.switch-status {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 24px;
  color: #ffffff;
  margin-bottom: 24px;
}
 
.on-switch {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 24px;
  color: #ffffff;
  border-radius: 8px;
  width: 99px;
  height: 44px;
  margin-left: 16px;
  background-color: #cbd2d9;
}
 
.off-switch {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 24px;
  color: #ffffff;
  border-radius: 8px;
  width: 99px;
  height: 44px;
  background-color: #e12d39;
}