/* html
    color-scheme: light dark;
} */

body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
/* body.light{
    background-color: #f4f4f4;
      color: #000;
} */


.container{
    width: 380px;
    height: 600px;
    display: flex;
    /* flex-wrap: wrap; */
}

.cloud{
    width: 250px;
    position: absolute;
    top: 100px;
}
.cloud2{
    width: 300px;
    position: absolute;
    top: 100px;
    margin-left: 100px;
}
.moon{
    width: 200px;
    position: absolute;
    top: 100px;
    right: 1000px;
}

.tree{
    width: 200px;
    position: absolute;
    left: 100px;
    top: 400px;
   

}

.b{
    width: 300px;
    height: 300px;
    position: absolute;
    top: 400px;

}

@media screen and (max-width=751px){
        .b{
            width: 100px;
        }
}


.Display{
    width: 400px;
    height: 250px;
    border: 1.5px solid black;
    background-color: rgb(27, 26, 26);
    position: absolute;
    top: 200px;
    right: 50px;
    border-radius: 18px;
    box-shadow: 0px 0px 10px black, 0px 0px 15px black;
    display: flex;
    align-items: center;
    justify-content: center;

}
.Display:hover{
    box-shadow: 0px 0px 10px black, 0px 0px 15px black,
    0px 0px 25px black, 0px 0px 50px black;

}
button{
    width: 80px;
    height: 40px;
    position: absolute;
    top: 600px;
    right: 120px;
    border-radius: 18px;
    background-image: linear-gradient(to right,rgb(65, 142, 249),rgb(220, 93, 114));
    border-radius: 8px;
   
}

.on{
    top: 600px;
    right: 250px;
}